VITE_FIREBASE_API_KEY=AIzaSyA36BdJ9H7iTuFl2GaRKbfg6JNYFLfsid0
VITE_FIREBASE_AUTH_DOMAIN=glazuren-98e4a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=glazuren-98e4a
VITE_FIREBASE_STORAGE_BUCKET=glazuren-98e4a.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=499664839625
VITE_FIREBASE_APP_ID=1:499664839625:web:32552c407322c72449fe18
